h1{
    font-size: 60px;
    text-align: center; 
    font-family:garamond; 
    color: olive;
}

a{
    color: darkcyan;
    font-size: 30px;
    display: block;
}

a:hover{
    color: red;
    background-color: lightsteelblue;
}

img{
    width: 300px;
}

td{
    text-align: center;
}

#center{
    margin-left: auto;
    margin-right: auto;

}

.days{
    font-size: 50px;
    display: inline;
    
}

@keyframes animation1{
    0%{
        background-color: dodgerblue;
        left: 0px;
        top: 0px;
        transform: rotate(170deg);
    }
    25%{
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50%{
        background-color: red;
        left: 200px;
        top: 200px;
    }
    75%{
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100%{
        background-color: dodgerblue;
        left: 0px;
        top: 0px;
        
    }
}